on:
  release:
    types: [published]
jobs:
  Publish:
    runs-on: ubuntu-latest
    environment: deployment
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24.x
          cache: npm
          registry-url: https://registry.npmjs.org
      - run: npm ci
      - run: npm run build
      - run: npx @nlib/cleanup-package-json --file package.json
      - run: npm publish --provenance
