on: [pull_request]
concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true
jobs:
  Lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v5
        with:
          node-version: 24.x
          cache: npm
      - run: npm ci
      - run: npm run lint
  Build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v5
        with:
          node-version: 24.x
          cache: npm
      - run: npm ci
      - run: npm run build
      - uses: actions/upload-artifact@v4
        with:
          name: outputDir
          path: |
            cjs
            esm
  Test:
    needs: Build
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest]
        node: [24.x, 22.x, 20.x]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 3
    environment: test
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v5
        with:
          name: outputDir
          path: .
      - uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node }}
          cache: npm
      - run: npm ci
      - run: npx c8 npm test
      - run: npx c8 report --reporter=text-lcov > coverage.lcov
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
